name: "Test ENV var check"

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  test_env_vars:
    runs-on: ubuntu-latest
    steps:
      - name: Check with `if` in workflow
        id: checking
        if: github.event.pull_request.head.repo.full_name != github.repository
        run: |
          echo ${{ github.event.pull_request.head.repo.full_name }}
          echo ${{ github.repository }}

      - name: test if cancel
        if: ${{ steps.checking.outcome == 'success' }}
        run: echo "canceled"
