name: AUTO Visual Regression Test
on:
  pull_request:
    branches:
      - master
      - v7_maintenance
jobs:
  chromatic_deployment:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Install Node 15
        uses: actions/setup-node@v2
        with:
          node-version: '15'
      - id: changed_files
        uses: jitterbit/get-changed-files@v1
      - name: Calculate changed packages
        id: changed_packages
        run: |
          regexp="ui-[a-z0-9-]*"
          packages=()

          for changed_file in ${{ steps.changed_files.outputs.all }}; do
             if [[ $changed_file =~ $regexp ]]; then
              package_name=$(echo $changed_file | grep -o "$regexp")
              packages+=($package_name)
            fi
          done
          echo "::set-output name=changed_packages::${packages[@]}"
      - name: Print changed packages
        run: echo ${{ steps.changed_packages.outputs.changed_packages }}

      # - name: Install project dependencies
      #   run: yarn install --check-files
      # - name: Bootstrap project
      #   run: yarn bootstrap
      # - name: Build Storybook examples
      #   run: yarn build-storybook
